<div class="block-item">
  <div class="block-image"><a href=<%= asset_path(gallery_item.image) %> data-rel="prettyPhoto" title="<%= gallery_item.title %>"><%= image_tag gallery_item.image %></a></div>
  <div class="block-aside">
    <h2><%= gallery_item.title %></h2>
    <p><%= gallery_item.short_desc %>  </p>
  </div>
</div>