<div class="body_wrap">


<div class="top_slider">

  <!-- slider fullwidth -->
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
      <ul>

        <li data-transition="random" data-slotamount="7" data-masterspeed="300">
          <%= image_tag "slide_sapa.jpg" %>

          <div class="caption sfl str cap_small_white"
               data-x="405"
               data-y="140"
               data-speed="600"
               data-start="1500"
               data-easing="easeOutExpo" data-end="4000" data-endspeed="300" data-endeasing="easeInSine">COME AND STAY IN</div>

          <div class="caption fade fade cap_big_white"
               data-x="400"
               data-y="190"
               data-speed="800"
               data-start="600"
               data-easing="easeOutExpo" data-end="5500" data-endspeed="300" data-endeasing="easeInSine">SAPA</div>

          <div class="caption sfr stl cap_small_white"
               data-x="350"
               data-y="240"
               data-speed="600"
               data-start="1800"
               data-easing="easeOutExpo" data-end="4000" data-endspeed="300" data-endeasing="easeInSine">EXPLORE MOUNTAINOUS CHARM</div>
        </li>

        <li data-transition="random" data-slotamount="7" data-masterspeed="300">
          <%= image_tag "slide_halong.jpg" %>

          <div class="caption sfb stb cap_small_white"
               data-x="250"
               data-y="155"
               data-speed="600"
               data-start="1500"
               data-easing="easeOutExpo" data-end="4000" data-endspeed="300" data-endeasing="easeInSine">FANTASTIC</div>

          <div class="caption fade fade cap_big_white"
               data-x="240"
               data-y="200"
               data-speed="800"
               data-start="600"
               data-easing="easeOutExpo" data-end="5500" data-endspeed="300" data-endeasing="easeInSine">HA LONG BAY</div>

          <div class="caption sfb stb cap_small_white"
               data-x="480"
               data-y="250"
               data-speed="600"
               data-start="1800"
               data-easing="easeOutExpo" data-end="4000" data-endspeed="300" data-endeasing="easeInSine">ONE OF 7 NATURAL WONDERS</div>
        </li>

        <li data-transition="random" data-slotamount="7" data-masterspeed="300">
          <%= image_tag "slide_trangan.jpg" %>
          <div class="caption sft stt cap_small_white"
               data-x="430"
               data-y="140"
               data-speed="600"
               data-start="500"
               data-easing="easeOutExpo" data-end="5000" data-endspeed="300" data-endeasing="easeInSine">BUDDHA LAND</div>

          <div class="caption fade fade cap_big_white"
               data-x="280"
               data-y="190"
               data-speed="800"
               data-start="1300"
               data-easing="easeOutExpo" data-end="6000" data-endspeed="300" data-endeasing="easeInSine">TRANG AN</div>

          <div class="caption sfb stb cap_small_white"
               data-x="360"
               data-y="245"
               data-speed="600"
               data-start="2000"
               data-easing="easeOutExpo" data-end="5000" data-endspeed="300" data-endeasing="easeInSine">JOURNEY NOT DESTINATION</div>
        </li>

        <li data-transition="random" data-slotamount="7" data-masterspeed="300">
          <%= image_tag "slide_danang.jpg" %>

          <div class="caption fade fade cap_medium_white"
               data-x="400"
               data-y="135"
               data-speed="500"
               data-start="1100"
               data-easing="easeOutExpo" data-end="5000" data-endspeed="300" data-endeasing="easeInSine"> DYNAMIC </div>

          <div class="caption fade fade cap_big_white"
               data-x="290"
               data-y="190"
               data-speed="700"
               data-start="700"
               data-easing="easeOutExpo" data-end="6000" data-endspeed="300" data-endeasing="easeInSine">DA NANG</div>

          <div class="caption sfl stl cap_small_white"
               data-x="360"
               data-y="245"
               data-speed="700"
               data-start="1200"
               data-easing="easeOutExpo" data-end="5000" data-endspeed="300" data-endeasing="easeInSine">MEET DRAGON EVERYDAY</div>
        </li>

        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
          <%= image_tag "slide_nhatrang.jpg" %>

          <div class="caption sfl stl cap_small_white"
               data-x="400"
               data-y="135"
               data-speed="600"
               data-start="500"
               data-easing="easeOutExpo" data-end="5000" data-endspeed="300" data-endeasing="easeInSine">PARADIES IN OCEAN </div>

          <div class="caption fade fade cap_big_white"
               data-x="260"
               data-y="190"
               data-speed="800"
               data-start="1300"
               data-easing="easeOutExpo" data-end="6000" data-endspeed="300" data-endeasing="easeInSine">NHA TRANG</div>

          <div class="caption sfl stl cap_small_white"
               data-x="340"
               data-y="245"
               data-speed="600"
               data-start="2000"
               data-easing="easeOutExpo" data-end="5000" data-endspeed="300" data-endeasing="easeInSine">EVERY WAVE HAS ITS OWN SOUL</div>
        </li>

        <li data-transition="random" data-slotamount="7" data-masterspeed="300">
          <%= image_tag "slide_hochiminh.jpg" %>
          <div class="caption sft stt cap_small_white"
               data-x="440"
               data-y="140"
               data-speed="600"
               data-start="500"
               data-easing="easeOutExpo" data-end="5000" data-endspeed="300" data-endeasing="easeInSine">WELCOME TO</div>

          <div class="caption fade fade cap_big_white"
               data-x="170"
               data-y="190"
               data-speed="800"
               data-start="1300"
               data-easing="easeOutExpo" data-end="6000" data-endspeed="300" data-endeasing="easeInSine">HO CHI MINH CITY</div>

          <div class="caption sfb stb cap_small_white"
               data-x="380"
               data-y="250"
               data-speed="600"
               data-start="2000"
               data-easing="easeOutExpo" data-end="5000" data-endspeed="300" data-endeasing="easeInSine">WE ALL NEVER WANT TO SLEEP</div>
        </li>
      </ul>
    </div>
  </div>
  <!--/ slider fullwidth -->

</div>
<!--/ slider fullwidth -->

<!-- middle -->
<div class="middle middle_white full_width">
  <div class="container">

    <article class="post-detail">
      <h1>NEW DESTINATIONS - NEW STORIES</h1>
      <div class="post-title">
        <h2><a href="news_detail_vungtau.html">Vung Tau Opens New Resort</a></h2>
      </div>
      <br/>
      <div class="entry clearfix">
        <img src="images/temp/vungtau_resort_1.jpg" alt="" class="alignright"/>
        <p>Proin gravida nibh vel velit auctor aluet. Aene fert restanco sollicitudin, int lorem quiste bibendum redt auctor, nisi elit conseq ipsum necters sagittis sem nibh id eliberadio Guerrila.</p>

        <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
      </div>
      <a href="news_detail_vungtau.html">READ THE DETAIL</a>
    </article>
    <br/>

    <!-- tf entry tabs -->
    <div class="tabs_framed no-padding">
      <div class="inner">
        <ul class="nav nav-tabs clearfix active_bookmark1">
          <li class="active"><a href="#tab_cont_1_1" data-toggle="tab">Recent Stories</a></li>
          <li><a href="#tab_cont_1_2" data-toggle="tab">Most Commented</a></li>
        </ul>
        <div class="tab-content clearfix">
          <div id="tab_cont_1_1" class="tab-pane fade in active">
            <ul class="post_list recent_posts">
              <li class="clearfix"><a href="blog-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumb"></a> <a href="news_detail_cairang.html">Cai Rang River Market - not to buy, just to feel.</a> <div class="date">Nov 11, 2014</div> </li>
              <li class="clearfix"><a href="blog-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumb"></a> <a href="news_detail_hanoi.html">It's winter and It's Hanoi. </a> <div class="date">Nov 1, 2014</div> </li>
              <li class="clearfix"><a href="blog-details.html"><img src="images/temp/post_thumb_3.jpg" alt="" class="thumb"></a> <a href="news_detail_phuot.html">"Phuot" to the highest mount of Indochina. </a> <div class="date">Oct 12, 2014</div> </li>
            </ul>
          </div>

          <div id="tab_cont_1_2" class="tab-pane fade">
            <ul class="post_list popular_posts">
              <li class="clearfix"><a href="blog-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumb"></a> <a href="news_detail_cairang.html">Cai Rang River Market - not to buy, just to feel.</a> <div class="date">Nov 11, 2014</div> </li>
              <li class="clearfix"><a href="blog-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumb"></a> <a href="news_detail_hanoi.html">It's winter and It's Hanoi. </a> <div class="date">Nov 1, 2014</div> </li>
              <li class="clearfix"><a href="blog-details.html"><img src="images/temp/post_thumb_3.jpg" alt="" class="thumb"></a> <a href="news_detail_phuot.html">"Phuot" to the highest mount of Indochina. </a> <div class="date">Oct 12, 2014</div> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--/ tf entry tabs -->

  </div>
</div>
<!--/ middle -->


<div class="middle middle_gray">
  <div class="container">
    <h1>DESTINATIONS THIS MONTH</h1>
    <br/>

    <!-- promo blocks -->
    <div class="block-list promo-list clearfix">



      <div class="block-item">
        <div class="block-image">
          <a href="north.html"><img src="images/temp/block_image_1.jpg" alt=""/></a>
          <div class="block-caption"><h2>NORTHERN VIETNAM</h2></div>
        </div>
        <div class="block-aside">
          <h3> Experience winter time coming in.</h3>
          <div class="list-minimal clearfix">
            <ul>
              <li> <a href="sapa.html">Sa Pa</a></li>
              <li> <a href="sapa.html">Dien Bien - Lai Chau</a></li>
              <li> <a href="sapa.html">Ha Long Bay</a></li>
              <li> <a href="sapa.html">Trang An</a></li>
              <li> <a href="sapa.html">Ha Noi Capital</a></li>
            </ul>
          </div>
        </div>
        <div class="block-meta">
          <a href="north.html">FIND OUT MORE</a>
        </div>
      </div>

      <div class="block-item">
        <div class="block-image">
          <a href="center.html"><img src="images/temp/block_image_2.jpg" alt=""/></a>
          <div class="block-caption"><h2>CENTRAL VIETNAM</h2></div>
        </div>
        <div class="block-aside">
          <h3>Festival time along the country.</h3>
          <div class="list-minimal clearfix">
            <ul>
              <li> <a href="sapa.html">Da Nang City</a></li>
              <li> <a href="sapa.html">Hoi An</a></li>
              <li> <a href="sapa.html">Nha Trang</a></li>
              <li> <a href="sapa.html">Phong Nha</a></li>
              <li> <a href="sapa.html">Da Lat</a></li>
            </ul>
          </div>
        </div>
        <div class="block-meta">
          <a href="center.html">FIND OUT MORE</a>
        </div>
      </div>

      <div class="block-item">
        <div class="block-image">
          <a href="south.html"><img src="images/temp/block_image_3.jpg" alt=""/></a>
          <div class="block-caption"><h2>SOUTHERN VIETNAM</h2></div>
        </div>
        <div class="block-aside">
          <h3>Can't stop exploring the beauty.</h3>
          <div class="list-minimal clearfix">
            <ul>
              <li> <a href="sapa.html">Ho Chi Minh City</a></li>
              <li> <a href="sapa.html">Dong Thap Muoi</a></li>
              <li> <a href="sapa.html">Cai Rang River Market</a></li>
              <li> <a href="sapa.html">Vung Tau</a></li>
              <li> <a href="sapa.html">Phu Quoc Island</a></li>
            </ul>
          </div>
        </div>
        <div class="block-meta">
          <a href="center.html">FIND OUT MORE</a>
        </div>
      </div>

    </div>
    <!--/ promo blocks -->

    <!-- weather block -->
    <div class="weather_block clearfix">

      <div class="wcol wcol-title">
        <div class="wcol-head"></div>
        <div class="wcol-mid"><strong>7 DAYS FORECAST</strong> <span>LOCATION</span></div>
        <div class="wcol-bot"><span class="weather-location">Hanoi, Vietnam</span></div>
      </div>
      <div class="wcol wcol-1">
        <div class="wcol-head">TODAY</div>
        <div class="wcol-mid"><img src="images/icons/weather_icon_3.png" alt=""/></div>
        <div class="wcol-bot">25&deg;C</div>
      </div>
      <div class="wcol wcol-2">
        <div class="wcol-head">WED</div>
        <div class="wcol-mid"><img src="images/icons/weather_icon_1.png" alt=""/></div>
        <div class="wcol-bot">26&deg;C</div>
      </div>
      <div class="wcol wcol-3">
        <div class="wcol-head">THU</div>
        <div class="wcol-mid"><img src="images/icons/weather_icon_3.png" alt=""/></div>
        <div class="wcol-bot">25&deg;C</div>
      </div>
      <div class="wcol wcol-4">
        <div class="wcol-head">FRI</div>
        <div class="wcol-mid"><img src="images/icons/weather_icon_1.png" alt=""/></div>
        <div class="wcol-bot">28&deg;C</div>
      </div>
      <div class="wcol wcol-5">
        <div class="wcol-head">SAT</div>
        <div class="wcol-mid"><img src="images/icons/weather_icon_1.png" alt=""/></div>
        <div class="wcol-bot">27&deg;C</div>
      </div>
      <div class="wcol wcol-6">
        <div class="wcol-head">SUN</div>
        <div class="wcol-mid"><img src="images/icons/weather_icon_2.png" alt=""/></div>
        <div class="wcol-bot">21&deg;C</div>
      </div>
      <div class="wcol wcol-7">
        <div class="wcol-head">MON</div>
        <div class="wcol-mid"><img src="images/icons/weather_icon_2.png" alt=""/></div>
        <div class="wcol-bot">20&deg;C</div>
      </div>

    </div>
    <!--/ weather block -->

  </div>
</div>

<!-- footer -->

<!--/ footer -->

<div class="copyright">
  <div class="container">

  </div>
</div>

</div>


<script>
    jQuery(document).ready(function($) {
        "use strict";
        $("#check_in").datepicker({
            dateFormat: 'M dd, yy',
            minDate: 0,
            showOtherMonths: true,
            firstDay: 1
        });
        $("#check_out").datepicker({
            dateFormat: 'M dd, yy',
            minDate: 0,
            showOtherMonths: true,
            firstDay: 1
        });
    });
</script>


<!-- page JS -->
<!-- slider fullwidth -->
<script>
    var tpj=jQuery;
    tpj.noConflict();

    tpj(document).ready(function() {
        "use strict";

        if (tpj.fn.cssOriginal!=undefined)
            tpj.fn.css = tpj.fn.cssOriginal;

        tpj('.fullwidthbanner').revolution(
                {
                    delay:6000,
                    startwidth:990,
                    startheight:675,

                    onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off

                    thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight:50,
                    thumbAmount:3,

                    hideThumbs:0,
                    navigationType:"none",				// bullet, thumb, none
                    navigationArrows:"solo",				// nexttobullets, solo (old name verticalcentered), none

                    navigationStyle:"round",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


                    navigationHAlign:"center",				// Vertical Align top,center,bottom
                    navigationVAlign:"center",					// Horizontal Align left,center,right
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    touchenabled:"on",						// Enable Swipe Function : on/off



                    stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                    stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                    hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                    hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
                    hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


                    fullWidth:"on",

                    shadow:0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

                });

    });
</script>

<!-- tabs gallery -->
<script>
    var $=jQuery;
    jQuery(window).load(function() {
        "use strict";
        jQuery("a[href='#midtab_1']").on('shown.bs.tab', function(){
            jQuery("#airport_map").gMap({
                markers: [{
                    latitude: -16.444112,
                    longitude: -151.753385}],
                zoom: 12,
                title: "Bivio San Polo RM",
                popup: false,
                scrollwheel: false
            });
        });
        jQuery("a[href='#midtab_2']").on('shown.bs.tab', function(){
            jQuery("#g-attractions").tfGallery();
        });
        jQuery("a[href='#midtab_5']").on('shown.bs.tab', function(){
            jQuery("#g-hotel").tfGallery();
        });
    });
</script>

<!--slider offers -->
<script>
    jQuery(document).ready(function($) {
        "use strict";
        $("#offers").carouFredSel({
            circular	: true,
            infinite	: false,
            auto 		: false,
            items       : 1,
            responsive: true,
            prev : "#offers_prev",
            next : "#offers_next",
            pagination : "#offers_pag"
        });
    });
</script>