<div class="post-item clearfix">
  <div class="post-image"><%= link_to (image_tag post.image), post_path(post.id) %></div>
  <div class="post-title">
    <h2><%= link_to post.title, post_path(post.id) %></h2>
  </div>
  <div class="post-meta-top">
    <div class="post-meta-cats">Posted in <span class = "post-author"><%=link_to get_category_from_id(post.category_id), category_path(post.category_id) %></span>, <%= post.created_at.strftime("%b %d, %Y") %> by: <span><%= post.written_by %></div>>

  </div>
  <div class="post-descr entry">
    <%= truncate_html(post.body, length: 600) %>
  </div>
  <!--<div class="post-meta-bot">-->
    <!--<span class="post-author">Written by: <span></span></span>-->
  <!--</div>-->
</div>