<div class="header">
  <div class="container clearfix">
    <div class="topmenu_right">
      <div class="logo"><%= link_to (image_tag "logo.png"), root_path %></a></div>
    </div>

    <!--- topmenu -->
    <nav class="topmenu">
      <ul class="dropdown">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Stories', posts_path %></li>
        <li><span>Areas</span>
          <ul class="submenu-1">
            <% cats.each do |cat| %>
              <%= li ((link_to cat.name, category_path(cat.id))) %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to 'Galleries', gallery_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
    </nav>
    <!--/ topmenu -->
  </div>
</div>
