<div class="header">
  <div class="container clearfix">
    <div class="topmenu_right">
      <div class="logo"><a href="index.html"><%= image_tag "logo.png" %></a></div>
    </div>

    <!--- topmenu -->
    <nav class="topmenu">
      <ul class="dropdown">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Stories", posts_path %></li>
        <li><span>Areas</span>
          <ul class="submenu-1">
            <li><a href="north.html"><span>Northern Vietnam</span></a></li>
            <li><a href="center.html"><span>Central Vietnam</span></a></li>
            <li><a href="south.html"><span>Southern Vietnam</span></a></li>
          </ul>
        </li>
        <li><%= link_to "Galleries", gallery_items_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
    <!--/ topmenu -->
  </div>
</div>
